<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Navbar with List Pagination</title>
        <link rel="stylesheet" href="../css/latest-list.css" />
    </head>
    <body>
        <div class="list-container">
            <ul id="item-list">
                <!-- Items will be dynamically inserted here -->
            </ul>

            <div class="pagination" id="pagination">
                <!-- Pagination buttons will be dynamically inserted here -->
            </div>
        </div>
        <script src="../script/latestList.js"></script>
    </body>
</html>
