<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Navbar with List Pagination</title>
        <link rel="stylesheet" href="../css/navbar.css" />
    </head>
    <body>
        <div class="navbar">
            <div class="icon" id="sidebar-toggle">&#9776;</div>
            <!-- Sidebar icon -->
            <div class="search-bar">
                <input type="text" placeholder="Search..." />
                <button>Search</button>
            </div>
            <div class="logo-icon">
                <img src="../public/images/mdpz.png" class="image" />
            </div>
        </div>

        <div class="sidebar" id="sidebar">
            <button class="close-btn" id="close-sidebar">&times;</button>
            <ul>
                <li>Option 1</li>
                <li>Option 2</li>
                <li>Option 3</li>
            </ul>
        </div>
        <script src="../script/sidebar.js"></script>
    </body>
</html>
